/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Home Page Style */

.container {
	padding: 40px 80px;
}

@media screen and (max-width: 450px) {
	.container {
		padding: 50px 20px;
	}
}

header {
	margin-bottom: 106px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66%;
  margin-left: 23px;
}

header nav a {
  text-decoration: none;
	color: #333;
	font-size: 23px;
	align-self: center;
}

header nav a:hover {
	color: #6A6AF6;
}

.logo-link {
  margin-right: 25px;
}

.logo {
  width: 255px;
}

.banner-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 86px;
}

.h1-button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  width: 50%;
  /* margin-left: 7%; */
  margin-right: 62px;
  margin-top: 8px;
}

.h1-button-container h1 {
	font-size: 101px;
	height:100%;
}

.h1-button-container button {
  width: 238px;
  height: 45px;
  border: 2px solid black;
  font-size: 24px;
  font-family: inherit;
  margin-top: 20px;
  margin-right: 84px;
}

.h1-button-container button:hover {
	color: white;
	background-color: black;
}

.banner-img-container {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.banner-img-container img {
  width: 87%;
  margin-left: 30px;
  margin-top: 13px;
}

main .first-section-container section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 23px;
	border-top: 2px solid black;
	padding: 50px 0;
}

main .first-section-container section div {
	width: 49%;
	margin: 0 .4%;
}
main .first-section-container section h2 {
	font-size: 25px;
}

main img {
	width: 100%;
}

main .second-section-container section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 23px;
	border-bottom: 2px solid black;
	padding: 50px 0;
}

main .second-section-container section div {
	width: 30%;
	margin: 0 1.4%;
}
main .second-section-container section h2 {
	font-size: 25px;
}

footer {
	margin-top: 50px;
}

footer h2 {
	font-size: 25px;
}

footer address {
  font-size: 23px;
}

footer p {
	margin-top: 50px;
	text-align: center;
  font-size: 23px;
}

/* home page Media Queries */

@media screen and (max-width: 900px) {
  .container {
    padding: 25px 20px;
  }

  header {
    margin-bottom: 74px;
  }

	.banner-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 50px;
	}

	.h1-button-container h1 {
		font-size: 72px;
	}

	.h1-button-container button {
    width: 171px;
  height: 33px;
  margin: 11px 0 0 0;
  font-size: 18px
	}

	.banner-container img {
		display: none;
	}

  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

	header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0;
	}

  header nav a {
    font-size: 18px;
  }

	.logo-link {
		order: -1;
    margin: 0;
    margin: 5px 0 38px 0;
    align-self: center;
	}

  .logo {
    width: 185px;
  }

  .h1-button-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-top: 19px;
  }

  main .first-section-container section {
    font-size: 17px;
    padding: 34px 0;
  }

  main .first-section-container section h2 {
      font-size: 20px;
  }

  main .second-section-container section {
    font-size: 17px;
    padding: 27px 0 42px 0;
  }

  main .second-section-container section h2 {
      font-size: 20px;
  }

  footer {
    margin-top: 30px;
  }

  footer h2 {
    font-size: 20px;
  }

  footer address {
    font-size: 16px;
  }

  footer p {
    margin-top: 40px;
    font-size: 16px;
  }

}

@media screen and (max-width: 720px) {
	main .first-section-container section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
		border-top: 2px solid black;
		padding: 50px 0;
	}

	main .first-section-container section div {
		width: 100%;
		margin: 10px;
	}
	main .first-section-container section h2 {
		font-size: 25px;
	}

	main img {
		width: 100%;
		height: 200px;
	}

	main .second-section-container section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 20px;
		border-bottom: 2px solid black;
		padding: 50px 0;
	}

	main .second-section-container section div {
		width: 100%;
		margin: 10px;
	}
	main .second-section-container section h2 {
		font-size: 25px;
	}
}

@media (max-width: 620px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

	header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
	}

  header nav a {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
	}

	.nav-container a.logo-link {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 0;
    padding-bottom: 18px;
	}

  .banner-container {
    margin-top: 31px;
  }

  .h1-button-container button {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 20px 0;
  }

  main .first-section-container section {
    font-size: 17px;
  }

  main .first-section-container section div {
    width: 92%;
  }

  main .first-section-container section h2 {
    font-size: 16px;
  }

  main .first-section-container section div.about {
    margin-top: 40px;
  }

  main img {
    width: 92%;
    height: auto;
    margin-left: 20px;
  }

  main .second-section-container section {
    font-size: 17px;
    padding: 26px 10px 30px 10px;
  }

  main .second-section-container section div {
    width: 92%;
    margin: 0 10px 10px 10px;
  }

  main .second-section-container section h2 {
    font-size: 16px;
  }

  main .second-section-container section div.product {
    margin-top: 58px;
  }

  main .second-section-container section div.vision {
    margin-top: 59px;
  }

  footer {
    margin-top: 24px;
    padding: 10px 0 0 20px;

  }

  footer h2 {
    font-size: 17px;
  }

}

/* Service Page Style */

/* main .service-container {
	font-size: 20px;
	border-bottom: 2px solid black;
	padding: 50px 0;
}

main .service-container h2 {
	font-size: 25px;
}

main img.service-header-img {
	width: 100%;
}

main .card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 2px solid black;
	padding-bottom: 50px;
}

main .card-container .card {
	margin-top: 50px;
	width: 48%;
	padding: 30px;
	font-size: 20px;
	background-color: lightgrey;
	border: 1px solid grey;
	-webkit-box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
	-moz-box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
	box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
}

main .card-container .card h2 {
	font-size: 25px;
}

main .card-container .card button {
	margin-top: 20px;
	font-size: 10px;
	padding: 10px 25px;
	border: 1px solid grey;
	border-radius: 5px;
}

main .card-container .card button:hover {
	color: lightgrey;
	background-color: black;
}

main .facts-container {
	margin: 50px 0 100px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}

main .facts-container section {
	width: 45%;
}

main .facts-container h2 {
	font-size: 25px;
}

main .facts-container ul {
	margin-top: 50px;
}

main .facts-container ul li {
	margin-top: 20px;
	margin-left: 25px;
	list-style-type: disc;
}

main .facts-container img {
	width: 45%;
	height: 400px;
} */

/* Media queris for Service Page */

/* @media screen and (max-width: 720px) {
	main .card-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid black;
		padding-bottom: 50px;
	}

	main .card-container .card {
		margin-top: 50px;
		width: 100%;
		padding: 30px;
		font-size: 20px;
		background-color: lightgrey;
		border: 1px solid grey;
		-webkit-box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
		-moz-box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
		box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
	}

	main .facts-container {
		margin: 50px 0 100px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
	}

	main .facts-container section {
		width: 100%;
	}

	main .facts-container img {
		width: 100%;
		height: 400px;
		order: -1;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 540px) {
	main .facts-container img {
		width: 100%;
		height: 100%
	}
} */

/* Contact Page */
/* header div.img-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

#header-img {
	width: 50%;
}

.main {
	display: flex;
  flex-direction: row;
  justify-content: center;
	padding-bottom: 50px;
	border-bottom: 2px solid black;
}

main form {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	width: 384px;
	height: 450px;
	border: 1px solid #f5f5f5;
	-webkit-box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
	-moz-box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
	box-shadow: 18px 18px 59px -24px rgba(0,0,0,0.75);
}

main form input, select {
	margin-bottom: 20px;
	height: 40px;
	font-size: 15px;
}

main form input, select, textarea {
	width: 90%;
}

main form label {
	margin-bottom: 5px;
}

main form label:first-child {
	margin-top: 20px;
}

main form input:focus, textarea:focus {
	background-color: #DCDDDE;
}

input, textarea, select {
    outline: 0;
} */
